@use "../../variables";

.project-container {
  display: flex;
  max-width: 240px;
  border-radius: 15px;
  margin: 5px;
  background-color: variables.$blue;
  padding: 20px 40px;
  justify-content: center;
  flex-direction: column;
  .title {
    padding: 5px 10px;
    font-size: 1.6em;
  }
  .about {
    color: variables.$grey-light;
    font-weight: 100;
  }
}
