@use "./variables" as color;

:root {
  color: color.$white;
  background: color.$black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

main {
  min-height: calc(100vh - 114px);
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

* {
  transition: all 0.5s;
  outline: none;
}

// -----------LAYOUT START
.container {
  header {
    justify-content: center;
    font-size: 2em;
    border-bottom: 2px color.$white solid;
    height: 40px;
    padding: 5px 15px;
  }

  main {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.container > footer {
  z-index: 2;
  height: 40px;
  padding: 10px;
  border-top: 2px color.$white solid;
  a > img {
    width: 32px;
    height: 32px;
  }
}
// -----------LAYOUT END

// -----------PROJECTS START
.project-container {
  display: flex;
  width: 240px;
  height: 100px;
  border-radius: 10px;
  margin: 5px;
  background-color: transparent;
  padding: 20px 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px color.$white solid;
  text-decoration: none;

  > .title {
    padding: 5px 0;
    font-size: 1.3em;
    color: color.$blue;
  }
  > .about {
    color: color.$grey-light;
    font-weight: 100;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  > .add-icon {
    width: 24px;
  }
}
// -----------PROJECTS END

// -----------COLLECTIONS START
.projects-container {
  display: flex;
  max-width: 1280px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px 0;
}
// -----------COLLECTIONS END

// -----------QUEUE START
.queue-container {
  transition: 3s ease-out;
  > .queue-item {
    padding: 10px 5px;
    border-radius: 5px;
    margin: 5px 0;
    border: 1px color.$white solid;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 107px;
    > .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    > .title {
      font-size: 12px;
      height: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  > footer {
    height: 30px;
    border-top: 1px color.$blue solid;
    margin-top: 10px;
  }
}

// ----- raiting
figure.rating-container {
  position: relative;
  margin: 0;
  width: 34px;
  figcaption {
    position: absolute;
    text-align: center;
    left: 11px;
    top: 5px;
    color: color.$black;
  }
}
// -----------QUEUE END

// -----------OBJECTIVES START
.tasks-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px 0;
  height: 100%;
  > .column {
    min-height: 100%;
    border-radius: 15px;
    padding: 15px;
    width: calc(100vw / 3 - 50px);
    max-width: 240px;
    height: 100%;
    > .title {
      color: color.$blue;
      font-size: 1.4em;
      display: flex;
      text-align: center;
      justify-content: center;
      flex-direction: row;
      > .dropdown {
        display: none;
        transition: all 0.25s;
      }
    }
  }
}
// -----------OBJECTIVES END
input,
select,
textarea {
  border: 0;
  color: color.$black;
  background: color.$grey-light;
  border-radius: 5px;
  font-weight: 500;
  margin: 3px;
}
// -----------MODAL START
.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background: color.$black;
  opacity: 0.9;
  border-radius: 5px;
  border: 2px solid color.$grey-light;
  overflow: auto;
  margin: 0 auto;
  max-width: 720px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
}

.modal-container {
  padding: 15px;
  color: color.$white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  > .modal-info {
    display: flex;
    flex-direction: column;
    width: calc(100% - 80px);
    > .title {
      display: flex;
      color: color.$blue;
      input.title-field {
        padding: 2px 5px;
        font-size: 18px;
        font-weight: 600;
        max-width: 120px;
      }
      > select.status {
        display: block;
        color: color.$black;
        > option {
          font-weight: 400;
        }
      }
      > div.status {
        color: color.$orange;
        font-size: 14px;
        padding: 0 5px;
      }
    }
    > .about {
      color: color.$white;
      > textarea {
        width: calc(100% - 20px);
        height: 80px;
        padding: 10px;
        resize: none;
      }
    }
    > .save {
      align-self: center;
      font-size: 24px;
      padding: 5px 25px;
      margin: 5px;
      border-radius: 5px;
      border: 0;
      font-weight: 500;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
    .date-info {
      display: flex;
      padding: 5px;
      justify-content: space-between;
      > .created,
      > .latest,
      > .deadline {
        display: flex;
        text-align: center;
      }
      .created {
        color: color.$green;
      }
      .latest {
        color: color.$orange;
      }
      .deadline {
        color: color.$red;
      }
    }
  }
  > .modal-comments {
    min-width: 360px;
    > .chat {
      border: 1px solid color.$white;
      > input {
        width: max-content;
      }
    }
  }
}

.message-container {
  width: auto;
  padding: 2px 5px;
  margin: 5px;
  border: 1px color.$white solid;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;

  > .message-text {
    font-weight: 300;
    font-size: 14px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  > .date {
    color: color.$blue;
    font-size: 12px;
  }
}

.subtask-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  border: 1px solid color.$grey-light;
  border-radius: 5px;
  margin: 5px 0;

  .about {
    font-weight: 500;
  }
  .created {
    color: color.$green;
  }
}
// -----------MODAL END

// -----------COMMENTS START
.comments-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px;
  justify-content: space-between;

  &.-inner {
    margin-bottom: 5px;
  }
  > form {
    padding: 7px 0;
  }
  input[type="text"].comment-field {
    padding: 6px 10px;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    border: 0;
    background-color: color.$grey-light;
    color: color.$black;
  }
}

.comment-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid color.$grey-light;
  > .container-inner {
    > .container-info {
      display: flex;
      flex-direction: column;
      > .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .header-info {
          display: flex;
          flex-direction: row;
          .name {
            font-size: 16px;
            font-weight: 500;
            color: color.$blue;
          }
          .date {
            padding-left: 5px;
            font-size: 12px;
            color: color.$orange;
          }
        }
      }
      .text-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img.forward {
          height: 24px;
          width: 24px;
          align-self: self-end;
          opacity: 0.7;
          &:hover {
            opacity: 1;
          }
        }
        .text {
          width: 100%;
          font-weight: 200;
          font-size: 14px;
          color: color.$white;
          font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        }
      }
    }
    img.delete {
      height: 24px;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }
  }
}
// -----------COMMENTS END

// -----------MEDIA QUERY
@media only screen and (max-width: 480px) {
  .tasks-container {
    display: flex;
    flex-direction: column;
    .column {
      width: 100%;
      > .title {
        > .dropdown {
          display: flex;
        }
      }
    }
  }

  .modal-container {
    padding: 5px;
  }
  .Modal {
    height: auto;
  }
}

// -------------CALENDARY START
.datepicker-toggle {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  margin: 0 10px;
}
.datepicker-toggle-button {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-image: url("./images/clock.png");
}
.datepicker-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  opacity: 0;
  cursor: pointer;
  box-sizing: border-box;
}
.datepicker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
// -------------CALENDARY END
